@charset "UTF-8";

:root{
    --font_Standart: Arial, Helvetica, sans-serif;
    --color01: #06471C;
    --color02: #eefff3;
    --color03: #10C74D;
    --color04: #04521E;
    --color05: #0C9439;
}

body{
    font-family: var(--font_Standart);
    background-color: var(--color02);
    background-image: url(images/img-background.jpg);
    background-size: contain;
    background-position: left bottom;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0px;
}

header{
    color: white;
    background-image: linear-gradient(180deg, var(--color03), var(--color05));
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}

header h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

header p{
    font-style: italic;
}

header nav{
    text-align: left;
}

nav{
    background-color: var(--color05);
    padding: 10px;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: none;
    padding: 5px;
    margin: auto 5px;

}

nav a:hover{
    color: var(--color05);
    background-color: var(--color02);
    border-radius: 5px;
}

main{ position: relative;
    min-width: 300px; max-width: 1000px;
    background-color: white;
    text-align: justify;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto;
}

main h1{
    font-size: 1.5em;
}

main h2{
    font-size: 1.2em;
}

main p{
    margin: 20px 50px;
}


div{
    width: 45vw;
    height: 60vh;
    background-color: var(--color01);
    background-image: url(images/img-public-transport.jpg);
    background-position: center bottom;
    background-size: cover;
    border-color: var(--color03);
    box-shadow: 0px 0px 5px var(--color03);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin: auto;
}

footer{
    color: white;
    background-color: black;
    padding: 5px;
}

footer p{
    margin-left: 10px;
}