@charset "UTF-8";

:root{
    --font_Standart: Arial, Helvetica, sans-serif;
    --color01: #06471C;
    --color02: #c4ffd8;
    --color03: #10C74D;
    --color04: #04521E;
    --color05: #0C9439;
}

body{
    font-family: var(--font_Standart);
    background-color: var(--color02);
    margin: 0px;
}

header{
    color: white;
    background-image: linear-gradient(45deg, var(--color03), var(--color05));
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

header h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

header p{
    font-style: italic;
}

main{
    min-width: 300px; max-width: 1000px;
    background-color: white;
    text-align: justify;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin:auto;
}

main h1{
    font-size: 1.5em;
}

main h2{
    font-size: 1.2em;
}

main p{
    margin: auto 50px;
}

main img{
    min-width: 200px; max-width: 300px;
    min-height: 200px; max-height: 600px;
}

footer{
    color: white;
    background-color: black;
    padding: 5px;
}